

#galeria img{
     width: 100%;
     height: auto;
   padding: 5px;
   padding-left: 5px;
   padding-right: 5px;
   }

  .contenedortotal{
   margin: 45px;
 }


.col-12{
  margin-left: 5px;
  padding: 0%;
}

H1{
font-family: 'Times New Roman', Times, serif;
margin-top: 35px;
}
