

#galeria img{
     width: 100%;
     height: auto;
   padding: 5px;
   padding-left: 5px;
   padding-right: 5px;
   margin: 10px;
   margin-top: 5px;
   }

h1{
  padding-top:30px;
  padding-bottom: 15px;
 }

 h2{
 padding-bottom: 20px;
 }

#col8{
 padding-right:3px;

}
#col4{
  padding-right:22px;
 }

 #col12{
  padding-right: 0px;
 }
 #tou{
  padding-right:0px;
  
 }

