/* General */
article{
    margin: auto;
    padding: 35px;
}
.btn2{
    background-color: #efec83;
    border: none;
    border-radius: 50px;
    width: 180px;
    height: 40px;
}
/*******/

/* Imagen Promocional 1 */
#art-img-1{
    margin-left: 10%;
}
#img-prom-1{
    width: 55%;
}
/*******/

/* Texto de Bienvenidos */
#art-bienvenidos{
    background-color: #5f6bb3;
    padding-inline: 35px;
    margin-top: 50px;
    margin-right: 25px;
    width: 32%;
    height: 85%;
    top: 10%;
    right: 15%;
}
#bienvenidos-parrafo{
    line-height: 45px;    
}
/*******/

/* Texto promocion de seminario */
#texto-prom-seminario{
    margin-top: 46px;
    margin-bottom: inherit;
    margin-left: 5%;
    padding: 45px;
    padding-left: 78px;
}
#h1-seminario{
    line-height: 50px;
}
/*******/

/* Imagen promocional 2 */
#art-img-2{
    margin-top: auto;
    margin-right: 10%;
    padding: 2%;
}
#estrella{
    width: 60px;
    right: 90%;
}
#img-prom-2{
    width: 100%;
}
/*******/

/* Contenedor de skills desarrolladas en el curso */
#cont-items-desarrollo-curso{
    background-color: #5f6bb3;
    padding-inline: 15%;
}
/*******/

/* Imagenes de items de skills */
.item-des-curso{
    width: 35%;
}
/*******/

/* Contenedor de boton de Adquirir curso */
#btn-adquirir-curso{
    padding-bottom: 60px;
    padding-left: 45%;
}
/*******/
