/* Color de los titulos -> #ADAFFE */
/* Color de parte contacto -> #5f6bb3*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desvanecer:hover {
  opacity: 0.2;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.iframe {
  -webkit-box-shadow: 11px 11px 0px -3px #5f6bb3;
  box-shadow: 12px 12px 0px 0px #5f6bb3;
}

.whatsapp{
  position: fixed;
  right: 2em;
  bottom: 5em;
}

/* Estilo header y foooter */

.header{
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}
.container{
  margin: auto;
  padding: auto;
}

.nav a{
  text-decoration: none;
  color: white;
}

.footer{
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}