*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    margin: auto;
    padding: auto;
}

.nav a{
    text-decoration: none;
    color: white;
}

.footer{
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}